.login{
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: flex-start;
}

.log{
  width: 70vw;
  margin-left:2vw;
  height: 5vh;
  border-color:black;
  border-style: solid;
  border-width: 0.1px;
  margin-top: 10px;
  border-radius: 10px;

}

button{

  margin-left:2vw;
  margin-top:10px;
  height: 5vh;
  left: 121px;
  top: 683px;
  width: 70vw;

background: #1793D9;
border-radius: 10px;
  ;
}

.cabeca{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1{
  margin-left: 5vw;
  margin-top: 5vw;
}

p{
  margin-left:5vw;
  margin-right:5vw;
}

h1{font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 60px;
letter-spacing: 0em;
text-align: left;}

p{
 font-family: Poppins;
font-style: normal;
}

