.login {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.cabeca {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

h1 {
  margin-left: 5vw;
  margin-top: 5vw;
}

p {
  margin-left: 5vw;
  margin-right: 5vw;
}

.login {
  justify-content: center;
  padding-left: 5%;
  background-color: #fff;
}

.inputs {
  background-color: #F0EFEF;
  border: none;
  border-radius: 5px;
  width: 30vw;
  height: 7vh;
  color: #000;
}

button {
  width: 30vw;
  height: 9vh;
  background-color: #1793D9;
  border: none;
  border-radius: 5px;
  color: #fff;
}
