<div class='cabeca'>
  <h1>Cadastrar Nova Causa</h1>
  <div class='container'>
    <div class='inserir'>

      <mat-form-field appearance="fill">
        <input class='log' matinput="matInput" placeholder='Titulo'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input class='log' matinput="matInput" placeholder='Descricao'>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input class='log' matinput="matInput" placeholder='Endereco'>
      </mat-form-field>

      <button>Cadastrar</button>

    </div>
  </div>
