<div class="estilogeral">
    <mat-card >

      <img mat-card-image src="./../../../assets/img1.jpg">

        <div class="estilo">
          Fernanda da Silva e Souza
        </div>
        <div>
          Partido do Amor
        </div>
        <div>
        Contato: www.fernandadasilva.org.br
        </div>
    </mat-card>

    <mat-card>
          <img mat-card-image src="./../../../assets/img2.jpg">

            <div class="estilo">
              Renan da Silva

            </div>
            <div>
              Partido do Brasil

          </div>
          <div>
            Contato: www.partidodobrasil.org.br
          </div>
    </mat-card>

    <mat-card>
      <img mat-card-image src="./../../../assets/img3.jpg">

        <div class="estilo">
          Edneia Aparecida Silva

        </div>
        <div>
          Partido do Suldeste
      </div>
      <div>
        Contato: www.suldeste.org.br
      </div>
    </mat-card>

    <mat-card>
      <img mat-card-image src="./../../../assets/img4.jpg">

        <div class="estilo">
         Lucas Muniz
        </div>
        <div>
          Partido dos Professores

      </div>
      <div>
        Contato: www.professoresunidos.org.br
      </div>
    </mat-card>

    <mat-card>
      <img mat-card-image src="./../../../assets/img5.jpg">

        <div class="estilo">
          Renan da Silva

        </div>
        <div>
          Partido do Brasil

      </div>
      <div>
        Contato: www.brasilunido.org.br
      </div>
    </mat-card>
    </div>

    <mat-card>
      <mat-card-footer>
        Links úteis:

        <div>
          Secretaria Municipal de Obras Públicas
        </div>
        <div>
          Telefone: (41) 3350-9704
        </div>
      </mat-card-footer>



    </mat-card>
